{
  "presets": [["@babel/typescript"], ["@babel/preset-env", { "targets": { "node": true } }]]
  // "plugins": [
  //   ["@babel/plugin-proposal-decorators", { "legacy": true }],
  //   ["@babel/proposal-class-properties", { "loose": true }]
  //]
}

// {
//   "presets": [["@babel/typescript"], ["@babel/preset-env", { "targets": { "node": true } }]],
//   "plugins": [
//     ["@babel/plugin-transform-typescript"],
//     ["@babel/plugin-proposal-decorators", { "legacy": true }],
//     ["@babel/proposal-class-properties", { "loose": true }],
//     "@babel/proposal-object-rest-spread"
//   ]
// }
